* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  align-content: center;
  align-items: space-around;
  background-color: #8a563c;
  display: grid;
  justify-items: center;
  height: 100%;
  width: 100%;
}

canvas {
  image-rendering: pixelated;
  border: 10px solid #7a4d36;
  border-radius: 1%;
}
